@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* for login design */

.left-login{
    background-color: white !important;
}
.right-login{
    background-color: #00B0FF !important;
    height: 100vh;
}
.login-t{
    display: inline-block;
    margin-top: 3%;
    margin-left: 2%;
    font-family: 'Noto Sans', sans-serif;
    color: #00B0FF;
    font-size: 36px;
}
.login-i{
    margin-top: -2%;
    margin-left: 5%;
    height: 80px;
    width: 80px;
}
.micon{
    position: absolute;
    margin-top: 5%;
    margin-left: 60%;
    width: 400px;
    height: 500px;
    max-width: 30%;
}

.logininput label{
    text-align: left;
    width:50%;
    margin-bottom: 1%;
    margin-left:7%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16 !important;
    color: #00B0FF !important;
}

.form-check-label{
    margin-left: 0;
}

.logininput input{
    margin-left:15%;
}
.logininput input:focus{
    border: 2px solid #00B0FF;
    border-color: #00B0FF;
}
.loginb{
    background-color: #00B0FF;
    margin-top: 1.5em;
    margin-left: -2%;
    width: 420px !important;
    height:40px;
    border: none;
}
.loginb:hover{
    background-color: #0086c4;
}
.forgot{
    color:#707070;
   padding:0;
   margin: 0;
}
.titlel{
    font-family: 'Inter', sans-serif;
    text-align: left;
    width:50%;
    margin-top:3%;
    margin-left:8%;
    font-weight:bold;
    font-size:16px
}
@media screen and (max-width: 767px) {
    .right-login{
        display: none;
    }
    .micon{
        display: none;
    }
    .left-login{
        text-align: center !important;
    }
    .titlel{
        text-align: center !important;
        width: 100% !important;
        margin-left: 0 !important;
    }
    .logininput input{
        margin-left:6% !important;
    }
    #password,#email,.loginb{
        /* width: 400px; */
        max-width:90%;
    }
    
    .forms{
        margin: 0 auto;
    }

  }



  /* for navbar */
  .nav-body img{
    margin-left: 20%;
  }
.logI{
    fill: white !important;
    width: 40px;
    height: 40px;
}
.logoutb a{
   text-align: center !important;
}

/* for left panel */
.left-panel{
    background-color: #00B0FF !important;
    margin-right: -15px;
    
}
.left-button button{
    margin-top: 15%;
    background-color: transparent;
    border: none;
    color: white;
}
.left-button i{
    fill: white;
}
.rp{
    
    border-top-left-radius: 10px;
    background-color: #EFEFEF;
}
.right-panel{
    margin-left: 5px;
    
}