@import url('http://fonts.cdnfonts.com/css/product-sans');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body{
    font-family: 'Product Sans', sans-serif;
}


/* for login design */

.left-login{
    background-color: white !important;
}
.right-login{
    background-color: #00B0FF !important;
    height: 100vh;
}
.login-t{
    display: inline-block;
    margin-top: 3%;
    margin-left: 2%;
    font-family: 'Noto Sans', sans-serif;
    color: #00B0FF;
    font-size: 36px;
}
.login-i{
    margin-top: -2%;
    margin-left: 5%;
    height: 80px;
    width: 80px;
}
.micon{
    position: absolute;
    margin-top: 5%;
    margin-left: 60%;
    width: 700px;
    height: 500px;
    max-width: 30%;
}

.logininput label{
    text-align: left;
    width:50%;
    margin-bottom: 1%;
    margin-left:7%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16 !important;
    color: #00B0FF !important;
}

.rememberLbl{
    margin-left: 5px;
}

.logininput input{
    margin-left:15%;
}
.logininput input:focus{
    border: 2px solid #00B0FF;
    border-color: #00B0FF;
}
.loginb{
    background-color: #00B0FF;
    margin-top: 1.5em;
    margin-left: -2%;
    width: 420px !important;
    height:40px;
    border: none;
}
.loginb:hover{
    background-color: #0086c4;
}
.forgot{
    color:#707070;
   padding:0;
   margin: 0;
}
.titlel{
    text-align: left;
    margin-top: .5em;
    margin-left: 3em;
    width:55%;
    font-weight:bold;
    font-size:1em;
}

.sign h3{
    font-weight: 700;
    text-align: left;
    margin-left: 1.5em;
}
.sign p{
    font-weight: 600;
    text-align: left;
    font-size: 1em;
    margin-left: 3em;
    color: #707070;
}

.left-button a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .right-login{
        display: none;
    }
    .micon{
        display: none;
    }
    .left-login{
        text-align: center !important;
    }
    .titlel{
        text-align: center !important;
        width: 100% !important;
        margin-left: 0 !important;
    }

    .rememberLbl{
        margin-left: 5px;
    }

    .logininput input{
        margin: 0 auto;
    }

    .logininput label{
        margin-left: 0;
    }

    .sign h3{
        font-weight: 700;
        text-align: left;
    }
    .sign p{
        font-weight: 600;
        text-align: left;
        font-size: 1em;
        color: #707070;
    }

    #password,#email,.loginb{
        /* width: 400px; */
        max-width:100%;
    }
    
    .forms{
        margin: 0 auto;
    }

  }



  /* for navbar */
  .nav-body img{
    margin-left: .2em;
  }

  /* .navbar-brand img{
      background-color: red;
  } */

.navLogo{
    color: #00B0FF;
    font-size: 1.1em;
    text-decoration: none;
    margin-left: -2em;
}

.navLogo span{
    color: white;
}

.navLogo:hover{
    color: #00B0FF;
}


.logI{
    fill: white !important;
    width: 40px;
    height: 40px;
}
.logoutb a{
   text-align: center !important;
}

/* for left panel */
.left-panel{
    background-color: #00B0FF !important;
    margin-right: -15px;
    margin-left: 0;
    height: 100vh;
    
}

.left-nav{
    padding: 0 1em;
}

.left-button button{
    margin-top: .8em;
    display: inline-block;
    padding: .5em 1em;
    border: none;
    background-color: transparent;
    color: white;
    overflow: hidden;
}
.left-button i{
    color: white;
    margin-right: .5em;
    font-size: 1.8em;
}

.left-button button::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background:white;
    transition: width .3s;
}

.left-button button:hover::after {
    width: 120%;
}

.rp{
    
    border-top-left-radius: 10px;
    background-color: #EFEFEF;
}
.right-panel{
    margin-left: 5px;
    
}

.brand{
    margin-top: 1em;   
}




.brand td,.brand th{
    text-align: center !important;
}

.log-header{
    margin-top: 2em;
}
.inv-header{
    margin-top: 2em;
}

.inv-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.inv-btn button{
    margin-top: -1em;
    margin-left: 1em;
    background-color: #00B0FF;
    color: white;
}
